{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custombuild.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        <title>PCGeek - Custom PC Build</title>
    </head>    
<body>

    <header>
        <h1>PCGeek</h1>
        <div class="nav-container">
            <nav>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'custom_pc_build' %}">Custom PC Build</a>

                {% if user.is_authenticated %}
                <a href="{% url 'cart' %}" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i> Cart
                </a>
                {% else %}
                <a href="{% url 'login' %}?next={% url 'cart' %}" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i> Cart
                </a>
                {% endif %}

                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="profile-button">
                    {{ user.username }}
                </a>
                {% else %}
                <a href="{% url 'login' %}" class="profile-button">Profile</a>
                {% endif %}

                {% if user.is_authenticated %}

                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="login-button">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <h1 style="font-size: 2em; text-align: center; margin-top: 20px;">Build Your Own Custom PC</h1>
    <p style="font-size: 1.2em; text-align: center; font-weight: normal; margin-bottom: 20px;">Choose your processor</p>
    <div class="option-container">
        <a href="{% url 'intel_build' %}">
            <div class="option">
                <img src="{% static 'images/intel.jpg' %}" alt="Intel Processor">
                <h2>Intel</h2>
            </div>
        </a>
        <a href="{% url 'amd_build' %}">
            <div class="option">
                <img src="{% static 'images/amd.jpg' %}" alt="AMD Ryzen Processor">
                <h2>AMD Ryzen</h2>
            </div>
        </a>
    </div>

<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{% static 'images/logo.png' %}" alt="PCGeek Logo">
        </div>
        <div class="footer-message">
            <p>Buying a laptop in Nepal can be a tough job. Due to the small market, computer stores always bring just a few models of laptops and all with limited stock. So chances of finding a laptop that fits your requirements are feeble. And if you further look at the laptop price in Nepal, you will be shocked to see it being exorbitantly high. Limited availability and the high price of the laptops has definitely created an inconvenience amongst the customers. With a view to solving this problem, PCGeek was established.</p><br>
            Contact us at: +9779801234567 or email us at: pcgeek@gmail.com
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 PCGeek - All rights reserved</p>
    </div>
</footer>

</body>
</html>
