<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
</head>
<body>
    <div class="container">
        <h1>Payment Page</h1>
        <form action="/process_payment/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="card_number">Card Number:</label>
                <input type="text" id="card_number" name="card_number" required>
            </div>
            <div class="form-group">
                <label for="expiry_date">Expiry Date:</label>
                <input type="text" id="expiry_date" name="expiry_date" required>
            </div>
            <div class="form-group">
                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" name="cvv" required>
            </div>
            <button type="submit" class="pay-btn">Pay Now</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 PCGeek - All rights reserved</p>
    </footer>
</body>
</html>