<!-- product_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }} - PCGeek</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<style>
    .product-image {
    width: 300px;  
    height: auto;  
    max-width: 100%; 
}
</style>
<body>
    <header>
        <h1>{{ product.name }}</h1>
    </header>

    <main>
        <div class="product-detail">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            <h2>Price: ${{ product.price }}</h2>
            <p>{{ product.description }}</p>
            <button>Add to Cart</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 PCGeek - All rights reserved</p>
    </footer>
</body>
</html>
