@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: url("{% static 'images/register.jpg' %}") no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 60px;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1rem;
    z-index: 10;
    transition: top 0.3s ease-in-out;
}

main {
    width: 100%;
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}

h1, h2 {
    text-align: center;
    font-weight: bold;
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.7rem;
    border: none;
    background-color: #e63946;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d62828;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 2rem;
    font-weight: 300;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: bottom 0.3s ease-in-out;
}

a {
    color: #e63946;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

.message.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Responsive Design */
@media (max-width: 600px) {
    main {
        padding: 1.5rem;
    }

    input, button {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}
